.body {
  color: #595959;
  font-family: helvetica;
  font-size: 11pt;
  background-color: blue;
  font-style: normal;
}

.topnav {
  background-color: #b4e33ef6;
  display: flex;
  justify-content: center;
  font-family: helvetica;
}

.topnav a {
  color: #e5193c;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 14px;
  font-family: helvetica;
  border-right: 1px solid #e4e4e4;
}

.topnav a:hover {
  background-color: #ffffff;
  color: #e01919;
}

.entries {
  color: blue;
  font-family: helvetica;
  font-size: 12px;
  width: 750px;
  margin: 20px auto;
  padding: 20px;
  line-height: 20px;
}

h1 {
  font-family: helvetica;
  font-size: 17px;
  font-weight: bold;
  text-align: center;
}
